@media (max-width: 750px) {
    .navbar-box6 {
        width: 100%;
        position: fixed;
        flex-direction: column;
        text-align: center;
        top: 55px;
        font-weight: 600;

        height: calc(100% - 0);
        background: rgba(27, 20, 43, 0.562);
        backdrop-filter: blur(0.8rem);

        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
        z-index: 100;
        padding: 20px;
    }

    .icon-navbar {
        color: #ffff;
        font-size: calc(100% + 70%);
        cursor: pointer;
        display: block;
        padding: 0px 10px;
    }

    .navbar-box6,
    .navbar-ul {
        width: 100%;
        flex-direction: column;
        padding: 10px 0px;
        height: auto;
    }

    .navbar-box6,
    .navbar-li {
        float: none;
        text-align: center;

    }

    .navbar-box6,
    .navbar-li {
        padding: 0px;
    }

    .navbar-li {
        height: auto;
        width: auto;
    }

    .navbar-ul_visible {
        left: 0;
        position: fixed;
    }

    .navbar-li {
        text-align: center;
        padding: 10px;
        width: calc(100% - 20%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-li:hover {
        background: hsl(0 0% 100% / 0.3);
        backdrop-filter: blur(0.5rem);
        padding: 10px;
        border-radius: 30px;
    }

    .navbar-a:hover {
        color: #ffff;
    }

    .navbar-a {
        padding: 10px;
        font-weight: 600;
        color: #ffff;
        display: flex;
        justify-content: center;

    }

    .navbar-box5 {
        width: calc(100% - 10%);
    }

    .navbar-img{
        width: calc(100% - 90%);
    }

    .home-box5{
        display: flex;
        flex-direction: column;
    }

    img.media-home-img{
        width: 50%;
        max-width: 50%;
    }

    p.media-footer-p{
        font-size: calc(100% - 20%);
    }

    div.media-mintpage-box5{
        width: calc(100% - 10%);
        min-width: 50px;
    }

    img.sc-dQoVA{
        width: calc(100% - 50%);
        height: calc(100% - 50%);
    }

    h1.home-p4{
        font-size: 100px;
    }


}