/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}


h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}

.mintpage-box{
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
}

.mintpage-box2{
    /*  background-color:var(--main-background-color);*/
      background: url("/src/Assets/Images/fondodenochediamond.png") center bottom / cover ;

}

.mintpage-box3{
  padding: 40px 10px;
}
