.page-box3{
    padding: 20px;
}

.page-img{
    width: calc(100% - 70%);
    padding: 20px;
}

.page-box5{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-box2{
    padding: 50px;
}

.page-p4{
    padding: 20px;
    text-align: center;
    font-size: calc(100% + 850%);
    color: rgb(255, 255, 255);
    width: calc(100% - 10%);
    margin: 0px;
}

.page-p3{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: calc(100% + 80%);
    font-weight: 600;
}

.page-p2{
    color: rgb(118, 118, 118);
    padding: 0px;
    text-align: center;
    font-size: calc(100% + 20%);
    font-weight: 600;
    margin: 0px;
}

.page-box{
    background: url(/src/Assets/Images/fondodenochediamond3.png) center bottom / cover;
}

.page-box2{
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}

.page-box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}